<div class="card">
  <div class="card-body">
    <div
      class="expandable"
      [class.full-width]="isExpanded"
      (dblclick)="toggleWidth()"
    >
      <p>Search Page</p>

      <div>
        <div><span class="badge text-bg-success">UI</span> UI</div>
      </div>

      <div>
        <div><span class="badge text-bg-success"> JS SDK</span> JS SDK</div>
      </div>

      <div>
        <div><span class="badge text-bg-warning">Proxy</span> Proxy</div>
      </div>

      <div>
        <div><span class="badge text-bg-warning">Bff</span> Bff</div>
      </div>

      <div>
        <div>
          <span class="badge text-bg-danger">Loyalty / Engine</span> Loyalty /
          Engine
        </div>
      </div>

      <div>
        <div><span class="badge text-bg-danger">USg</span> USg</div>
      </div>

      <div>
        <div><span class="badge text-bg-danger">connector</span> connector</div>
      </div>

      <div>
        <div><span class="badge text-bg-danger">Supplier</span> Supplier</div>
      </div>
    </div>
  </div>
</div>
