.expandable {
  color: #fcfcfc;
  background-color: #2d2d2d;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  transition: width 0.3s ease;
  cursor: pointer;
}

.expandable.full-width {
  width: 100%;
}
