<div class="user-form">
  <div class="user-form-container">
    <form [formGroup]="userForm" (ngSubmit)="submit()">
      <mat-card appearance="outlined">
        <mat-card-header class="title-container">
          <mat-card-title class="title">Debug Buddy</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="user-form-field">
            <mat-label> Enter Cid</mat-label>
            <input matInput formControlName="id" required />
          </mat-form-field>
          <button
            mat-flat-button
            class="user-form-field mat-btn"
            [disabled]="!userForm.valid"
          >
            Go
          </button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
