.user-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    &-container {
        width: 500px;

    }

    &-field {
        width: 100%;
    }

}