.user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &-container {
    width: 500px;
    .title-container {
      position: relative;
      margin: 22px 16px;
      padding: 22px 31%;
      color: #ffffff;
      background-color: #673ab7;
      border-radius: 4px;
    }
    .title {
      position: relative;
      width: 100%;
    }
  }

  &-field {
    width: 100%;
  }

  .mat {
    &-btn {
      --mdc-filled-button-label-text-color: #ffffff;
      --mdc-filled-button-container-color: #673ab7;
    }
  }
}
